@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* globals.css -- Zac Comment: The transition 
  could be potentially slowing down the web app, 
  but it slightly improves UX so keeping for now*/
.active-link {
  background: #007FFF !important;
  color: white !important;
  border-radius: 9999px !important; 
  transition: all 0.3s ease-in-out;
  border: none !important;
}

/* Background class */
.loginBackground {
  @apply relative bg-cover bg-center;
  background-image: url('./images/beach.jpg');
}

/* Custom row padding for table rows */
.custom-row-padding td {
  padding-top: 1rem; /* equivalent to py-6 */
  padding-bottom: 1rem; /* equivalent to py-6 */
}

/* Custom width for table columns */
.custom-width td {
  width: 40% !important; /* Set a custom width */
}